@import "./variables.scss";
div.landing {
    width: 100vw;
    // overflow-x: hidden;
    div.content {
        width: 76.313rem;
        margin: 4.625rem auto;
        font-family: 'Merriweather Sans', sans-serif;
        div.head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                color: $BlogBlue;
                font-size: 3rem;
                font-weight: $Bold;
                margin-bottom: 1.438rem;
                text-align: left;
            }
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.875rem;
                span {
                    img {
                        width: 0.743rem;
                    }
                }
            }
        }
        div.news {
            display: flex;
            margin: 0 auto;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 25%;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 76rem;
            div.box {
                margin-bottom: 60px;
                flex-basis: 25%;
                flex-wrap: wrap;
                max-width: 18rem;
                text-align: left;
                // flex: 2 0 21%;
                img {
                    width: 100%;
                }
                h3 {
                    font-size: 1rem;
                    margin: 10px 0;
                }
                p {
                    font-size: 0.75rem;
                    font-weight: $Light;
                }
            }
        }
        div.view {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            // flex-basis: 40%;
            gap: 40px;
            div.single {
                width: 39rem;
                h3 {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    font-weight: $Bold;
                    font-size: $Small;
                    line-height: 17.6px;
                }
                p {
                    font-weight: $Regular;
                    font-size: $Tiny;
                }
            }
            div.split {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                section.thumbnail {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 14px;
                    &:nth-child(1) {
                        margin-bottom: 1.625rem;
                    }
                    img {
                        width: 18.438rem;
                    }
                    div {
                        h3 {
                            font-size: $Small;
                            margin-bottom: 3.125rem;
                        }
                        p {
                            font-size: $Tiny;
                        }
                    }
                }
            }
        }
        div.photos {
            margin-top: 4.375rem;
            div.photo {
                display: flex;
                margin: 0 auto;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 25%;
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 76rem;
                div.pic-holder {
                    margin-bottom: 60px;
                    flex-basis: 25%;
                    flex-wrap: wrap;
                    max-width: 18rem;
                    text-align: left;
                    img {
                        width: 100%;
                    }
                    h3 {
                        font-size: 1rem;
                        margin: 10px 0;
                    }
                    p {
                        font-size: 0.75rem;
                        font-weight: $Light;
                    }
                }
            }
        }
    }
}

div.content {
    h3,
    p,
    img {
        cursor: pointer;
        transition: text-decoration 0.4s, color 0.4s;
        &:hover {
            color: $BlogRed;
            text-decoration: underline $BlogRed;
        }
    }
}