//colors
$BlogBlack: #232323;
$BlogWhite: #ffffff;
$BlogBlue:#00b0f0;
$BlogRed:#f90000;
$BlogGrey:#ACACAC;
//font-weight
$Thick: 900;
$Bold:700;
$Regular: 400;
$Light:300;
$Thin: 100;
//font-size
$X-Large:3rem;
$Large:1.563rem;
$Medium: 1.375rem;
$Small: 0.875rem;
$Tiny: 0.625rem;